/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--jazz1);
}

.container {
  position: relative;
  width: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
  justify-items: center;
}

.container .box {
  position: relative;
  height: 400px;
  background: var(--jazz2);
  display: flex;
  justify-items: center;
  align-items: center;
}

.container .box::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: #fff;
  transform: skew(5deg, 5deg);
  z-index: -1;
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.container .box:nth-child(1)::before {
  background: var(--jazz3);
}

.container .box:nth-child(2)::before {
  background: var(--jazz3);
}

.container .box:nth-child(3)::before {
  background: var(--jazz3);
}

.container .box:nth-child(4)::before {
  background: var(--jazz3);
}

.content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}

.box .content h2 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.25);
  transition: 1s;
}

.box:hover .content h2 {
  top: -40px;
  right: -40px
}

.box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

.box .content a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--jazz3);
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.box:hover .content a {
  transform: translateY(-10px);
  opacity: 1;
  visibility: visible;
}

.box .content a:hover {
  color: var(--jazz1);
  background: var(--jazz3);
}